h1 {
  color: rgb(135, 135, 135);
  color-scheme: light;
  font-family: arial, sans-serif;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-top: 20px;
}
ul {
  margin: 0;
  padding: 0 !important;
}
li {
  color: rgb(112, 117, 122);
  color-scheme: light;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  list-style: none;
}
.weathersample {
  border: 1px solid #dadde1;
  margin: 20px;
  padding: 15px;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
}
.temperature {
  color: black;
  font-size: 60px;
  font-weight: 400;
}
.units {
  position: relative;
  top: -34px;
}
img {
  line-height: 64px;
}
